@import '../../../../extensions.scss';
@import '../../../../variables.scss';

.contact {
  @extend #navbarLi;
  display: grid;
  align-items: center;
  grid-template-columns: 45px 1fr 40px;
  gap: 10px;
  width: 100%;
  &.list {
    pointer-events: none;
    padding: 10px 0;
    .removeBtn {
      display: none;
    }
  }
  &.admin {
    padding: 10px 0;
    .removeBtn {
      display: none;
    }
    .kickBtn {
      display: block;
    }
  }
  .kickBtn {
    display: none;
  }
  .nameAndId {
    overflow-x: auto;
    span {
      font-size: 14px;
      span {
        color: $blue;
      }
    }
  }
  .removeBtn {
    position: absolute;
    top: 50%;
    right: 7px;
    transform: translate(0, -50%);
  }
}
