@import '../../../../extensions.scss';
@import '../../../../variables.scss';

.wrap {
  border-top: 1px solid $bordergray;
  display: flex;
  justify-content: space-between;
  overflow: hidden;
  min-height: 60px;
  max-height: 250px;
  box-sizing: border-box;
  .textarea {
    width: 100%;
    min-height: inherit;
    //т.к 1px занимает border сверху у .wrap
    max-height: 249px;
    margin: auto 50px;
    word-wrap: break-word;
    overflow: auto;
    resize: none;
    outline: none;
    @extend #invisibleScrollbar;
  }
  .right {
    margin: 0 10px;
    display: flex;
    align-items: flex-end;
  }
}
