@import '../../../../extensions.scss';
@import '../../../../variables.scss';

.wrap {
  position: relative;
  padding-bottom: 10px;
  border-bottom: 1px solid $bordergray;
  .imgAndNickAndLogin {
    padding: 0px 10px;
    width: 100%;
    .loginAndNick {
      margin: 10px 0;
      .nickname {
        margin-bottom: 5px;
        overflow-x: auto;
        @extend #invisibleScrollbar;
      }
    }
  }
}
