$lightgray: #f1f1f1;
$gray: #c4c9cc;
$textgray: #707579;
$bordergray: #dfe1e5;
$blue: #39c;
$darkblue: rgb(41, 143, 194);
$font-weight: 500;
$border-shadow: 0px 0px 10px rgba(0, 0, 0, 0.15);
$tr: 0.2s;
$lightgreen: #2dfe54;
