@import '../../../extensions.scss';
@import '../../../variables.scss';

.wrap {
  @extend #modalCheckboxMembersWrap;
  .formWrap {
    .checkboxList {
      max-height: 170px;
      &.error {
        max-height: 150px;
      }
      .memberWrap {
        .checkboxOption {
          .contact {
            padding: 0;
          }
        }
      }
    }
  }
}
