@import '../../../index.scss';

.wrap {
  padding: 45px;
  height: 100%;
  @media (max-width: 768px) {
    padding: 45px 25px;
  }
  .formWrap {
    width: 100%;
    max-width: 100%;
    min-height: inherit;
    padding: 0;
    margin-top: 20px;
    @extend #forms;
    .checkboxList {
      overflow-y: auto;
      max-height: 220px;
      margin-bottom: 20px;
      @extend #invisibleScrollbar;
      &.error {
        margin-bottom: 0;
      }
      li {
        width: fit-content;
        .checkboxOption {
          display: flex;
          align-items: center;
          margin: 5px 0;
          span {
            margin-inline-start: 10px;
          }
        }
      }
    }
  }
}
